
<% total_products = Product.count %>
<% lots_of_products = Product.includes(:user).all %>

<h3>Product List </h3>
<p>Total Number of Products: <%= total_products %></p>
<table >
<tr>
	<th>Product Name</th>
	<th>Cost</th>
	<th>Seller Name</th>
</tr>
<% lots_of_products.each do | item | %>
<tr>
	<td><%= item.name%></td>
	<td>$ <%= item.price %></td>
	<td><%= item.user.name %></td>
</tr>
<% end %>

</table>


