<h2>Add New Products</h2>


<form method='post' action='/products'>
<label> Product Name </label> : 
<input type="text" name="product[name]" placeholder="Enter New Product Name" size="30" /> <br />

<br />
<label> Product Price : </label> 
<input type="number" name="product[price]" placeholder="Enter New Product Price" size="30" /> <br />
	
	<br/ > <br/ >
<input type="submit" name="submit" value="Create Product"><br/ >
</form>